<main class="max-w-screen-xl mx-auto p-4 sm:p-6 lg:p-6 lg:p-">

	{% set zoneName = "MainContentZone" %}
	{% include  "agility/render-modules.njk" %}

{#
TO RENDER ANOTHER ZONE, SET THE ZONE NAME..
	{% set zoneName = "AnotherContentZone" %}
	{% include  "agility/render-modules.njk" %}
#}

</main>
