<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ agilitypage.title }} - {{global.globalHeader.fields.siteName}}</title>
    <meta charset="UTF-8"/>
	<meta name="cms" content="Agility CMS" />
	<meta name="description" content="{{agilitypage.seo.metaDescription}}"/>
    {% if agilitypage.seo.ogImage %}
		<meta property="og:image" content="{{agilitypage.seo.ogImage}}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	 {% bundledCss %}
  </head>
  <body>
	{% if global.isPreview %}
		{% include "./agility/preview-bar.njk" %}
	{% endif %}
	{% include "./shared/header.njk" %}
	{% include agilitypage.templateFileName + ".njk" %}
	{% include "./shared/footer.njk" %}
	{% bundledJs %}
  </body>
</html>