---
permalink: "vercel.json"
---
{# THIS ISN'T CURRENTLY WORKING FOR VERCEL REDIRECTS... #}
{
"redirects": [
{%- for redirect in redirects %}
	{ "source": "{{ redirect.originUrl }}",  "destination": "{{ redirect.destinationUrl }}" }
{%- endfor %}
]
}
