---
permalink: "../.vercel_build_output/config/routes.json"
---
[
{%- for redirect in redirects %}
	{ "src": "{{ redirect.originUrl }}",  "headers": { "Location": "{{ redirect.destinationUrl }}" }, "status": 301 }{{ redirect.comma }}
{%- endfor %}
]